
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmbedViewer</title>
</head>
<body>
    <div>
        <embed src='@Url.Action("GetPdf")#toolbar=0&navpanes=0' type="application/pdf" width="100%" height="800">
    </div>
</body>
</html>
