@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeHeavyMethod</title>
</head>
<body>
    <div>
        This is loaded after some time.... 
    </div>
</body>
</html>
