@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Go Home", "GotoHome") <br \>
        @Html.ActionLink("See Product", "SeeProduct") <br \>
    </div>
</body>
</html>
