@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div> 
        This is products <br \>
        @Html.ActionLink("Go Home", "GotoHome") <br \>
        @Html.ActionLink("About us", "AboutUs")
    </div>
</body>
</html>
